*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: #001524;
    color:#fff;
}
.col-4 img{
    height:250px;
}    
.img-thumbnail {    
    animation-name:swing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes swing{
    from{
        width:0px;
    }
    to{
        width:100vw;
    }
}

